
<div class="login-container">
    <form >
        <div class="mb-3">
            <label  class="form-label labelLogin" for="">Email</label>
            <input  class="form-control inputLogin"  type="text">
        </div>
        <div class="mb-3">
            <label  class="form-label labelLogin" for="">Contraseña</label>
            <input  class="form-control inputLogin"  type="password">
        </div>
        <div class="mb-3">
            <button class="btnForm">Ingresar</button>
            <button class="btnForm btnFormRegister">  Crear una cuenta</button>
        </div>
    </form>
</div>