.containerProducts{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
.card-productContainer{  
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 80%;
}
.card-filtersContainer{  
    width: 20%;
}
.card-product{
    transition: ease all 0.2s;
    width: 80%;
}
.card-product:hover{
    cursor: pointer; 
    transform: scale(1.01);
}


.list-group{
    li{
        list-style: circle;
        font-weight: 700;
    }
    li:hover{
        cursor: pointer;
        transform: scale(1.03);
    }
    .btn-filter{
        background-color: var(--color2);
        margin-top: 10px;
        border: 2px solid;
        border-radius: 5px;
    }
}
.active{
    color: var(--color2);
}
.imgProduct{
 width: 150px;   
 object-fit: cover;
 height: 100%;
}
@media screen and (max-width:800px) {
    .containerProducts{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90vw;
        .card-filtersContainer{
           width: 70%;
        }
    }
    .card-productContainer{  
        align-items: center;
        .imgProduct{
            width: 100%;
        }
    }
    .card-product{
        width: 100%;
    }
}