<div class="formRegisterContainer">
    <form class="formRegister">
        <div class="mb-3">
            <label  class="form-label labelFormRegister" for="">Nombre</label>
            <input  class="form-control inputFormRegister" type="text">
        </div>
        <div class="mb-3">
            <label  class="form-label labelFormRegister" for="">Apellido</label>
            <input  class="form-control inputFormRegister" type="text">
        </div>
        <div class="mb-3">
            <label  class="form-label labelFormRegister" for="">email</label>
            <input  class="form-control inputFormRegister" type="email">
        </div>
        <div class="mb-3">
            <label  class="form-label"  for="">Contraseña</label>
            <input  class="form-control inputFormRegister" type="password">
        </div>
        <div class="mb-3">
            <button class="btnFormRegister">Registrarse</button>
            <button class="btnFormRegister btnFormLogin">Ya tengo una cuenta</button>
        </div>
    </form>
</div>
