.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color3);
}

.inputLogin{
    background-color: var(--color1);
    font-size: 1.05rem;
}
.labelLogin{
    font-size: 1.1rem;
    color: var(--color4);
}
.btnForm{
    background-color: var(--color4);
    border-radius: 5px;
    width: 150px;
    height: 50px;
    margin: 10px;   
    color: var(--color1); 
    font-weight: 400;
    transition: ease 0.2s all; 
}
.btnFormRegister{
    background-color: var(--color5);
    border-color: var(--color5);
    color: var(--color4);
}
.btnForm:hover{
    transform: scale(1.1);
}
.btn-continuar{
    color: var(--color2);
    background-color: var(--color4);
    border-radius: 5px;
    height: 50px;
    border: none;
    margin: 10px;
    transition: ease all 0.2s;
}

.btn-continuar:hover{
    transform: scale(1.1);
}