.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.container-navbar {
    height: 100px;
    background-color: var(--color4);
}

.container--content {
    flex-grow: 1;
    background: var(--color3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    width: 50vw;
}
.container-footer {
    height: 100px;
    background: var(--color4);
}

@media screen and (max-width:800px) {
    .container--content{
        padding: 5px;
       
    }
    .content{
        width: 95vw;
    }
}