.imgProductBuy{
    height: 200px;
    border-radius: 10px;
}
.btn-comprarCarro{
    background-color: var(--color2);
    border: 1px solid black;
    margin: 10px;
}
.productToBuy{
    display: flex;
    justify-content: space-around;
    margin: 50px;
}
.detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.buy-container{
   display: flex;
   align-items: center;
   flex-direction: column;
}

.address{
    transition: ease all 0.4s;
}

.address:hover{
    background-color: var(--color2);
}