.productContainer {
    background-color: white;
}

.img-container {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
    border-bottom: 3px solid black;

    img {
        width: 70px;
        height: 100px;
        object-fit: cover;
    }

    .selected {
        border: 2px solid var(--color2);
        padding: 5px;
        border-radius: 5px;
    }
}

.thumbnailss {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 300px;
    }
}

.container-detail {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &--title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10%;
    }

    &--info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 10%;

        p {
            border-bottom: var(--color2) 3px solid;
            width: 100%;
        }

        .buttonsContainer {
            display: flex;
            justify-content: space-around;
            width: 100%;

            .inputQuantity {
                border: none;
                border: 3px solid var(--color2);
                border-radius: 5px;
                width: 50px;
                padding: 5px;
            }

            .btn-agregar {
                background-color: var(--color2);
                border: var(--color4) 1px solid;
                padding: 5px;
                border-radius: 10px;
                box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
                transition: ease all 0.1s;
            }

            .quantity {
                width: 30px;
                font-weight: 900;
            }
        }
    }
}

.product-detail-container {
    margin: 30px;
    padding: 20px;
}



.btn-agregar:hover {
    transform: scale(1.03);
}

.desactive {
    background-color: grey !important
}

.desactive:hover {
    transform: scale(1);
}

.messageLogin {
    opacity: 0;
    position: absolute;
    z-index: 1;
    background-color: rgb(230, 230, 230);
    width: 120px !important;
    translate: 0px -70px;
    transition: ease all 0.3s;
    padding: 10px;
    border: none !important;
    border-radius: 10px;
}


.buttonsContainer:hover {
    .messageLogin {
        opacity: 1;
    }
}

@media screen and (max-width:800px) {
    .product-detail-container {
        margin: 0px;
        padding: 0px;
        .buttonsContainer{
            flex-direction: column;
            gap: 10px;
            .inputQuantity{
                margin: 0 10px;
                width: 40%;
            }
            .btn-agregar{
                width: 100%;
                margin: 10px 0px;
            }
        }
    }
}