<button class="btn btn-secondary" routerLink="../">
    volver
</button>
<div *ngFor="let buys of products.buys" class="buys-container">
    <ul class="list-group">
        <li>llega: </li>
        <li>direccion:</li>
        <li>estado:</li>
        <li>total: {{buys.total}}</li>
        <li>fecha: {{buys.fecha}}</li>
        <li class="products-container">items:
            <ul *ngFor="let product of buys.products">
                <li >
                    {{product.title}}
                </li>
                <img class="width-img-buy" src={{product.thumbnail[0]}} alt="">
            </ul>
        </li>
    </ul>
</div>
{{buys$ | async | json}}