<button class="btn btn-secondary" routerLink="../">
    volver
</button>
<div *ngFor="let buys of products.buys" class="buys-container">
    <ul *ngIf="isLoading" class="list-group">
        <li>llega:{{sumarDias(buys.fecha)}} </li>
        <hr>
        <h5>direccion:</h5>
        <li>Calle : {{buys.address.street}}</li>
        <li>Ciudad: {{buys.address.city}}</li>
        <li>Altura: {{buys.address.num}}</li>
        <li>Provincia : {{buys.address.province}}</li>
        <li>Codigo postal : {{buys.address.postalCode}}</li>
        <hr>
        <li>estado: Pendiente...</li>
        <li>Precio final: {{buys.total | currency}}</li>
        <li>fecha: {{buys.fecha}}</li>
    
        <hr>
        <li class="products-container">
            <ul *ngFor="let product of buys.products">
                <li >
                   {{product.productId.title}}
               </li>
               <li>Precio por Unidad : {{product.productId.price | currency}}</li>
               <li>cantidad: {{product.quantity }}</li>
               <li *ngIf="product.quantity > 1">
                    total: {{product.quantity * product.productId.price | currency}}
                </li>
               <img class="width-img-buy" src={{product.productId.thumbnail[0]}} alt=""> 
               <hr>
           </ul>
        </li>
        <hr>
    </ul>
</div>
<div *ngIf="!products.buys && isLoading">
    <p>no se han realizado compras</p>
</div>
<div *ngIf="isLoading == false" class="loadContainer">
    <span  class="loader"></span>
</div>