/* You can add global styles to this file, and also import other style files */
:root{
    --color1: #ffb884;
    --color2:#f5df98;
    --color3:#fff8d4;
    --color4: #c0d1c2;
    --color5: #2e4347;
}