/* You can add global styles to this file, and also import other style files */
:root{
    --color1: #ffffff;
    --color2:#cbe86b;
    --color3:#f2e9e1;
    --color4: #1c140d;
    --color5: #cbe86b;
}

// :root{
//     --color1: #cbdad5;
//     --color2:#89a7b1;
//     --color3:#566981;
//     --color4: #3a415a;
//     --color5: #34344e;
// }