/* You can add global styles to this file, and also import other style files */
:root{
    --color1: #ffffff;
    --color2:#cbe86b;
    --color3:#f2e9e1;
    --color4: #1c140d;
    --color5: #cbe86b;
    --backNoti: black;
}

.notifier{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 1px;
    left: 0px;
    background-color: rgba(128, 128, 128, 0.9);
    div{
        background-color: var(--backNoti);
        color: var(--color2);
        position: absolute;
        z-index: 2;
        top: 40vh;
        left: 20vw;
        width: 60vw;
        min-height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid var(--color2);
        border-radius: 20px ;
    }
}

.loadContainer{
    width: 100vw;
    height: 100vh;
    background-color: rgba(158, 158, 158, 0.9);
    position: fixed;
    top: 1px;
    left: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #000000 #000000 transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent var(--color2) var(--color2);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  .loader::before {
    width: 32px;
    height: 32px;
    border-color: #000000 #000000 transparent transparent;
    animation: rotation 1.5s linear infinite;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
      