.navbar-toggler-icon {
    background-image: url('../../../../../assets/icons/iconsMenu.png');   
}
.Logout-container{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    
}
.navbar{
    width: 100%;
}

.btnContainer{
    margin: 10px;
    display: flex;
    gap: 20px;
}